{# Requires tab_prefix to be set before include, e.g. {% set tab_prefix = "top" %} #}
{% if top_ips | length > 0 %}
<div class="stats-panel">
  <table class="data-table stats-panel__table" id="{{ tab_prefix }}-ips-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Site</th>
        <th>Country</th>
        <th class="num-col" data-col="3">Hits</th>
        <th class="num-col" data-col="4">Bandwidth</th>
      </tr>
    </thead>
    <tbody>
      {% for row in top_ips %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row.host }}</td>
        <td>{{ row.country_flag }} {{ row.country_name }}</td>
        <td class="num-col" data-value="{{ row.hits }}" title="{{ row.hits_exact_fmt }}">
          <span class="pct-value">({{ row.pct_fmt }})</span> {{ row.hits_fmt }}
        </td>
        <td class="num-col" data-value="{{ row.bandwidth }}">
          <span class="pct-value">({{ row.bandwidth_pct_fmt }})</span> {{ row.bandwidth_fmt }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>makeSortable('{{ tab_prefix }}-ips-table', 3, {{ top_n }});</script>
</div>
{% endif %}
